!.keep
*.DS_Store
*.rdb
*.swo
*.swp
.byebug_history
/.bundle
/.env.local
/coverage/*
/log/*
/.log/*
/node_modules
/tmp/*
/yarn-error.log
/storage/*
/spec/examples.txt
/.vscode
.rake_tasks~

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/.env
